<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>Ввод нового пользователя</h1>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <p>
        <label for="firstName">Введите логин:</label>
        <input type="text" required th:field="*{username}" id="firstName" placeholder="Имя">
        <br/>
        <label for="lastName">Введите фамилию:</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Фамилия">
        <br/>
        <label for="age">Введите возраст:</label>
        <input type="text" th:field="*{age}" id="age" placeholder="сколько лет"
               readonly
               onfocus="this.removeAttribute('readonly')">
        <br/>
        <label for="pw">Введите пароль:</label>
        <input type="password" required th:field="*{password}" id="pw" placeholder="пароль"
               readonly
               onfocus="this.removeAttribute('readonly')">
    </p>
    <p>
        Выберите статус нового пользователя:
        <br/>
        <input type="checkbox" id="user" name="roles" value="1" checked><label for="user"> USER </label>
        <br/>
        <input type="checkbox" id="admin" name="roles" value="2"><label for="admin"> ADMIN </label>
    </p>
    <input type="submit" value="Сохранить сведения"/>
</form>
<br/>
<a href="/admin">
    <input type="button" value="Вернуться к Списку (без сохранения)">
</a>
<form th:method="POST" th:action="@{/logout}">
    <button type="submit"> ВЫХОД из сервиса (без сохранения)</button>
</form>
</body>
</html>