<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Сведения о пользователе</h1>
<style>
    table {
        background: #fffafa; /* цвет фона */
        border: 1px #ff0000 solid; /* стиль внешней рамки */
    }
    td {
        border: 1px green solid; /* стиль рамки ячеек */
        padding: 0.2em;
    }
    th {
        background: #c3dbd7;
        border: 1px blue solid; /* стиль рамки заголовков */
        padding: 0.2em;
    }
</style>
<table>
    <tr>
        <th>Тип сведений</th>
        <th>Данные</th>
    </tr>
    <tr>
        <td>Id</td>
        <td th:utext="${user.getId()}">Id</td>
    </tr>
    <tr>
        <td>Логин</td>
        <td th:utext="${user.getUsername()}">Name</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td th:utext="${user.getLastName()}">Last Name</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td th:utext="${user.getAge()}">Age</td>
    </tr>
    <tr th:each="role : ${user.getRoles()}">
        <td>Статус</td>
        <td th:utext="${#strings.substringAfter(role.getName(), 'ROLE_')}"></td>
    </tr>
</table>
<h4>Выберите дальнейшее действие:</h4>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:if="user" th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value="Удалить этого пользователя"/>
    </form>
    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
        <input type="button" value="Изменить сведения о пользователе"/>
    </a>
    <br/>
    <a href="/admin">
        <input type="button" value="Смотреть весь Список">
    </a>
</div>
<form th:method="POST" th:action="@{/logout}">
    <button type="submit">ВЫХОД из сервиса</button>
</form>
</body>
</html>